{% extends "base.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
{% endblock head %}

{% block nav %}
	<p><a href="/new-pair?category={{ category.key }}">New Card</a></p>
{% endblock nav %}

{% block content %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<p><em>Question:</em></p>
	<p>{{ pair.question }}</p>
	<p><em>Answer:</em></p>
	{% if show_answer %}
		<p>{{ pair.answer }}</p>
	{% endif %}
	<p class="counts">
		<span>Total: {{ category.size }}</span>
		<span>Remaining: {{category.remaining }}</span>
		<span>Correct: {{ category.correct }}</span>
		<span>Missed: {{ category.missed }}</span>
	</p>
	
	{% if pair %}
	<div class="buttons">
		<a href="/category?id={{ category.key }};pair={{ pair.key }};show-answer=True">Show Answer</a>
		<form action="/update-pair" method="post">
			<input type="hidden" name="pair" value="{{ pair.key }}" />
			<input type="hidden" name="state" value="correct" />
			<input type="hidden" name="category" value="{{ category.key }}" />
			<input type="submit" value="Correct" />
		</form>
		<form action="/update-pair" method="post">
			<input type="hidden" name="pair" value="{{ pair.key }}" />
			<input type="hidden" name="state" value="missed" />
			<input type="hidden" name="category" value="{{ category.key }}" />
			<input type="submit" value="Missed" />
		</form>
		{% if not pair.reviewing %}
		<form action="/mark-review" method="post">
			<input type="hidden" name="pair" value="{{ pair.key }}" />
			<input type="hidden" name="category" value="{{ category.key }}" />
			<input type="submit" value="Add to Review"
		</form>
		{% endif %}
	</div>
	{% endif %}
{% endblock content %}
