{% extends "base.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
{% endblock head %}

{% block nav %}
	<center><h1>{{ category.name }}</h1></center>
	<p>
		<a href="/view-stats?category={{ category.key }}">Category Stats</a>
		<a href="/view-pairs?category={{ category.key }}">View Cards</a>
		<a href="/edit-pair?pair={{ pair.key }};category={{ category.key }}">Edit Card</a>
	</p>
{% endblock nav %}

{% block content %}
	{% if reverse %}
		<p><em>Question:</em></p>
		{% if show_answer %}
			<p>{{ pair.question|linebreaksbr }}</p>
		{% endif %}
		<p><em>Answer:</em></p>
		<p>{{ answer|linebreaksbr }}</p>
	{% else %}
		<p><em>Question:</em></p>
		<p>{{ pair.question|linebreaksbr }}</p>
		{% if show_answer %}
			<p><em>Answer:</em></p>
			<p>{{ answer|linebreaksbr }}</p>
		{% endif %}
	{% endif %}
	
	{% if pair %}
	<div class="buttons">
		<a href="/category?id={{ category.key }};pair={{ pair.key }};show-answer=True">Show Answer</a>
		<form action="/update-pair" method="post">
			<input type="hidden" name="pair" value="{{ pair.key }}" />
			<input type="hidden" name="state" value="ready" />
			<input type="hidden" name="reverse" value="{{ category.reverse }}" />
			<input type="hidden" name="category" value="{{ category.key }}" />
			<input type="submit" value="Correct" />
		</form>
		<form action="/update-pair" method="post">
			<input type="hidden" name="pair" value="{{ pair.key }}" />
			<input type="hidden" name="state" value="missed" />
			<input type="hidden" name="reverse" value="{{ category.reverse }}" />
			<input type="hidden" name="category" value="{{ category.key }}" />
			<input type="submit" value="Missed" />
		</form>
	</div>
	{% endif %}
	<br />
	<p class="counts">
		<span>Remaining: {{ remaining }}</span>
	</p>
{% endblock content %}
